{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light shadow-sm">Back to Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow col-md-8 col-sm-12 border-bottom px-5 pt-2">
            <div class="text-center">
                <img src="{{ profile.picture.url }}" class="rounded-circle" width="100" height="100" />

                {% if profile.name %}
                    {% if profile.is_verified %}
                        <h4 class="py-3">{{ profile.name }} <i class="fa fa-check-circle" style="color: navy; font-size: 20px;"></i>
                     {% else %}
                         <h4 class="py-3">{{ profile.name }}
                     {% endif %}
                    <span>
                        {% if request.user == user %}
                        <a href="{% url 'profile-edit' profile.pk %}" class="edit-color"><i class="fa fa-edit" style="font-size:15px"></i> </a>
                        {% endif %}
                    </span>
                    {% else %}
                    <h4 class="py-4">{{ user.username}}
                        <span>
                            {% if request.user == user %}
                            <a href="{% url 'profile-edit' profile.pk %}" class="edit-color"><i class="fa fa-edit"></i> </a>
                            {% endif %}
                        </span>
                    </h4>
                    {% endif %}
                </h4>
            </div>

            {% if profile.bio %}
            <p>{{ profile.bio }}</p>
            {% endif %}

            <div class="mb-3">
                <a href="{% url 'followers-list' profile.pk %}" class="post-link">Followers: {{ number_of_followers }}</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow col-md-8 col-sm-12 border-bottom px-5 py-3">
            {% if profile.birth_date %}
            <p>Birthday: {{ profile.birth_date }}</p>
            {% endif %}

            {% if profile.location %}
            <p><i class="fa fa-map-marker" style="opacity:0.6"></i> {{ profile.location }}</p>
            {% endif %}

            {% if user == request.user %}
            {% else %}
                {% if is_following %}
                    <form method="POST", action="{% url 'remove-follower' profile.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Unfollow</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'add-follower' profile.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-success" type="submit">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>



    {% for post in posts %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 border-bottom">
            <div>
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img class="rounded-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}" />
                </a>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">
                    {% if profile.name %}
                        {% if profile.is_verified %}
                            <span class="profile-name">{{ profile.name}} <i class="fa fa-check-circle" style="color: navy; font-size: 15px;"></span></i>
                        {% else %}
                            <span class="profile-name">{{ profile.name}} </span>
                        {% endif %}
                    {% endif %}
                        @{{ post.author }} </a> {{ post.created_on }}
                </p>
            </div>
            <div class="position-relative">
            <p>{{ post.body }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" class="post-image">
            {% endif %}
            <a href="{% url 'post-detail' post.pk%}" class="stretched-link"></a>
            </div>

            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn">
                        <i class="fa fa-thumbs-up"><span>{{ post.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn">
                        <i class="fa fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                    </button>
                </form>


            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}